/*.row div {
    outline: solid 1px  black;
    height: 130px;
}*/

body{
    background-color: cornflowerblue;
}

.container {
    margin-top: 2%;
    width: 1500px;
}

.nav-link{
    font-size: 24px;
}

